.error-container {
  color: #fff;
  margin: 2em auto;
  max-width: 600px;
  border-radius: 4px;
  background: #e85454;

  animation: popupError 0.2s ease-in-out;
}

.error-info {
  padding: 1em 10px;
}

.error-address-info {
  padding-top: 10px;
  border-top: 1px solid #a83d3d;
}

.error-address {
  font-weight: 700;
  color: #a83d3d;
  word-wrap: break-word;
}

@keyframes popupError {
  0% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}